#combo{
    display: flex;
    justify-content: center;
    height: 800px;
}

.combo{
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.fot{
   background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;            /* altura do rodapé */
}